body{
    padding: 0;
    margin: 0;
    color: #777;
    
}
h1,h2,h3,h4,h5,h6{
    color: black !important;
}
.social_part{
    background: #928c91;
    width: 100%;
    height: 42px;
}
.scioal_section{
    
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.icon_section{
    float: left;
    width: 70%;
    color:white;
}
.mobile_number{
    float: left;
    width: 15%;
    color: white;
    text-align: right;
}
/*
.mobile_number:hover{
    color:orange;
    cursor: pointer;
}*/
.email{
    float: left;
    width: 15%;
    color: white;
    text-align: right;
}
/*
.email:hover{
   color: orange; 
   cursor: pointer;
}*/
.icon_margin{
 margin-left: 10px;
}
.icon_margin:hover,.mobile_number:hover,.email:hover{
    cursor: pointer;
    color: orange;
}
/*
p:hover{
    color: green;
}
P:first-child{
    color:red;
}
P:first-child i{
    color:yellow;
}*/
.nav_section{
    background:white;
    
    min-height: 70px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0px 7px 0px;
}
.nav_main{
    width: 80%;
    margin: 0 auto;
    
}
.logo{
    width: 30%;
    float: left;
}
#nav{
    width:70%;
    float: left;;
}
#nav ul{
    background: white;
    float: left;
    padding: 0;
    margin: 0;
}
#nav li{
    float: left;
    list-style: none;
    width: 150px;
    position: relative;
}

#nav a {
    display: block;
    text-decoration: none;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    padding:10px 5px;
}
#nav a:hover{
    color:white !important;
    padding:10px 5px;
    border-radius: 5px;
    background: gray;
}
#nav ul  ul {
    position: absolute;
    left: 0;
    top:100%;
    visibility: hidden;
    box-shadow: 1px 0px 1px 1px #ccc;
}

#nav ul ul ul{
    left:100%;
    top:0;
}
#nav li:hover > ul{
    visibility: visible;

}
.signup{
    background-color: gray;
    padding: 16px 15px !important;
    border-radius: 3px;
    color: white;
}

.signup:hover{
    background-color: black !important;
    padding: 16px 15px !important;
    border-radius: 3px;
    color: white;
}
.box-shadow{
    border: 1px solid green;
    height: 100px;
    width: 100px;
    background-color: hotpink;
}
.main{
    display: flex;
    justify-content: center;
}
.banner-section{
    display: flex;
    flex-flow:column wrap;
    height: 500px;

}
.banner{
    background-image: url('../images/blog-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner_inner_section h1,h3{
    line-height: 5px;
    color: white;
}
.banner_inner_section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.view_details{
    background-color: white;
    padding: 17px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view_details:hover{
  background-color: orange;
  color: white;   
}
.b1{
    background-color: yellowgreen;
    height: 200px;
    width: 300px;
}

.b2{
    background-color:green;
    height: 200px;
    width: 300px;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 100px;

}
.content{
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    min-height: 400px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}
.blog-image{
    
    height: 100%;
}
.tag{
    color:black;
    display: inline;
}
.tag:hover{
    color:orange;
    cursor: pointer;
}
.blog_des h1{
    line-height: 0;
}
.search_section{
    border: 1px solid #ccc;
    height: 150px;
    display: flex;
    flex-grow: row nowrap;
    justify-content: center;
    justify-items: center;
    padding: 0 20px;
}
.search{
    padding: 20px;
    font-size: 14px;
    border: none;
    background: #eee;
    flex-basis: 80%;
    margin: auto;
}
.btn{
    color: orange;
    flex-basis: 20%;
    border: none;
    cursor: pointer;
    margin: auto 0;
    padding: 21px 20px 20px 20px;

}
.profile_section{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.image_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    text-align: center;
}
.p_scial{
    text-align: left;
    width: 100%;
}
.p_scial ul{
margin: 10px 0 0 0 
}

.p_scial ul li{
    display: inline;
    list-style: none;
}
.p_scial ul li a{
    color: black;
}
.category_section{
    border: 1px solid #ccc;
    min-height: 300px;
    margin-top: 20px;
}
.category_section ul {
    width: 80%;
}
.category_section ul li{
    list-style: none;
    display:list-item;
    border-bottom: 1px solid #eee;
    padding: 22px 0px;
}

.category_section ul li a{
    text-decoration: none;
    color:#777;
}
.category_title{
    width: 50%;
    float: left;
    text-transform: uppercase;
    
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}
.category_number{
    width: 40%;
    float: right;
    text-align: right;
    
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
}
.category_section ul li:hover{
    color: orange ;
    cursor: pointer;
    border-bottom: 1px solid orange;
    
 }
 .li :hover{
    color: orange !important;
    
 }
 footer{
    min-height: 100px;

 }
 .footer-section_1{
     flex-basis: 70%;
     display: flex;
     min-height: 200px;
     flex-wrap: wrap;
     
 }

 .footer-section_2{
   display: flex;
   flex-basis: 25%;;
   min-height: 200px;
   
 }
 .top_products{
     color: white !important;
     font-size: 14px;
     flex-basis: 30%;
 }
 .top_products h2,h4,.news_letter h2{
     color: white !important;
     font-family: "Poppins",sans-serif;
 }
 .news_letter{
     flex-basis: 70%;


 }
 .email{
    float: left;
    width: 200px;
    color: white;
    padding: 15px 20px;
    text-align: left;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}

 .submit{
    background-color: orange;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    border-radius: 3px;
    margin-left: 20px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;

 }
 .submit:hover{
     background-color: black !important;
 }